@import url('https://fonts.googleapis.com/css2?family=Comme:wght@100;200;300;400;500;600;700&display=swap');

*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}

body {  
    overflow: hidden;
}

input, textarea {
    all: unset;
}

:root {
    --cRare: #009ce4;
    --cEpic: #91009e;
    --c1: #2e3f3d;
}

.page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--c1);
    color: white;
    font-family: "Comme", sans-serif;
}

.inventory {
    width: 30%;
    height: 5%;

    display: grid;
    align-items: center;
    grid-template-columns: 5fr 2fr 1fr 1fr;
}

.inventory-epic-item {
    place-self: center;
    
}

.inventory-rare-item {
    place-self: center;
}


main {
    width: 30%;
    height: 95%;

    background-image: linear-gradient(to bottom, rgba(10,10,10,0.1) 0%, rgba(0,0,0,0.3) 100%);
    box-shadow: inset 0 0 32px rgba(0,0,0,0.1), 0 0 16px rgba(0,0,0,0.1);
}

@media only screen and (max-width: 1550px) {
    .inventory {
        width: 100%;
    }
    main {
        width: 100%;
    }
}

.options-menu {
    --xPos: 0px;
    --yPos: 0px;
    --nCols: 1;

    position: fixed;
    left: var(--xPos);
    top: var(--yPos);

    display: grid;
    grid-template-columns: repeat(var(--nCols), 1fr);
    grid-template-rows: 1fr;

    background-color: var(--c1);
    box-shadow: 0 0 8px 1px rgba(0,0,0,0.1);

    translate: -50% -100%;
    scale: 0;
    animation: scale-in-menu 80ms linear forwards;
}
@keyframes scale-in-menu {
    from {
        scale: 0;
        opacity: 0;
    }
    to {
        scale: 1;
        opacity: 1;
    }
}

.options-menu-option {
    padding: 0.6rem;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.1);
    cursor: pointer;
}

/** QUEST LIST PAGE **/

.quest-list {
    overflow-y: scroll;
}

.quest {
    display: block;
    margin: 0.2rem 0;
    padding: 1rem;
    background-color: var(--c1);
    background-image: url("img/quest-shadow.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}

.quest-title {
    display: inline-block;
    margin: 0.2rem 2rem 0.8rem;
    font-size: 1.4rem;
    font-weight: 200;
    letter-spacing: 1px;
}

.quest-rewards {
    list-style: none;
    margin: 0 2rem;
    padding: 0;
}

.quest-rewards > li {
    display: inline;
    margin: 0 0.4rem;
    padding: 0.05em 1em;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 1em;
    box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
}

.epic-item-reward {
    background-color: var(--cEpic);
}

.rare-item-reward {
    background-color: var(--cRare);
}

.add-quest-button {
    cursor: pointer;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 3.8rem;
    height: 3.8rem;
    translate: -50% 0 0;

    background-image: url("img/add-quest.svg");
    background-size: contain;
}

/** NEW QUEST PAGE **/

.new-quest {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.new-quest input, .new-quest textarea {
    background-color: var(--c1);
}

.new-quest-title {
    padding: 0.6rem;
    font-size: 1.4rem;
    letter-spacing: 1px;
}

.new-quest-description {
    height: 8em;
    padding: 0.6rem;
    font-size: 1.2rem;
    font-weight: 200;
}

.new-quest-objectives-title {
    margin: 1rem 0 0.4rem 0.4rem;
    font-size: 1.6rem;
    font-weight: 200;
    letter-spacing: 1px;
}

.new-quest-objectives {
    list-style: armenian;
}

#add-quest-objective {
    list-style: none;
    background-image: none;
}

#add-quest-objective > input {
    width: 60%;
    padding: 0.4rem;
    font-size: 1.2rem;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    box-shadow: inset 0 0 8px rgba(100,100,100,0.1);
}

.quest-objective {
    margin: 0.2rem 0;
    padding: 0.4rem;
    background-image: linear-gradient(to right, var(--c1) 0%, rgba(0,0,0,0) 100%);
}

.new-quest-rewards {
    margin: 2rem 0;
    font-size: 1.2rem;
    text-align: center;
}

.new-quest-rewards > input {
    all: unset;
    width: 3em;
    margin: 0 0.4rem;
    padding: 0.2rem 0.4rem;
    text-align: end;
    color: white;
    font-size: 1.2rem;
    border-radius: 2px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

input#xp-reward {
    background-color: rgba(0,0,0,0);
}

input#epic-reward {
    background-color: var(--cEpic);
}

input#rare-reward {
    background-color: var(--cRare);
}

.new-quest-submit {
    padding: 1.4rem;
    background-color: var(--c1);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 4px;
    box-shadow: -24px 16px 16px var(--c1), 24px 16px 16px var(--c1);
    cursor: pointer;
}


/** VIEW QUEST PAGE **/

.view-quest {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.view-quest-title {
    margin: 1rem 0 1rem 1rem;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 4px;
}

.view-quest-description {
    margin: 1rem 2rem 2rem;
    font-size: 1.2rem;
    font-weight: 200;
    letter-spacing: 1px;
    line-height: 1.5;
}

.view-quest-objectives {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.view-quest-objective {
    margin: 0.2rem 1.5rem;
    padding: 0.4rem 0;
    font-weight: 600;
    line-height: 1.8;
    text-align: end;
    cursor: pointer;
}

.view-quest-objective:last-child {
    font-weight: 200;
    color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
}

input.view-quest-objective[type="text"] {
    padding: 0.4rem 0;
    background-color: var(--c1);
    text-align: left;
    color: white;
    font-size: 1rem;
    letter-spacing: 1px;
    cursor: default;
}

.view-quest-objective.objective-complete {
    text-decoration: line-through;
    color: rgba(255, 255, 255, 0.4);
}

.view-quest-mark-objective-complete {
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    margin-left: 0.6rem;
    background-color: #1a8a72;
    vertical-align: text-bottom;
    cursor: pointer;
}

.view-quest-objective.objective-complete > .view-quest-mark-objective-complete {
    background-color: #999;
}

.view-quest-rewards {
    margin: 2rem 1rem 2rem 0;
    text-align: end;
}

.view-quest-rewards > li {
    display: inline-block;
    list-style: none;
    margin-left: 0.4rem;
}

.view-quest-rewards > input {
    color: white;
}

input.view-quest-xp-reward {
    background-color: rgba(0,0,0,0);
}

.view-quest-xp-reward {
    padding: 0.15em 1em;
    border-radius: 1em;
    box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
}

.view-quest-epic-reward {
    padding: 0.15em 1em;
    background-color: var(--cEpic);
    border-radius: 1em;
    box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
}

.view-quest-rare-reward {
    padding: 0.15em 1em;
    background-color: var(--cRare);
    border-radius: 1em;
    box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
}

.view-quest-complete-quest-button {
    margin-left: 1.6rem;
    padding: 0.5rem 0.8rem;
    background-color: var(--c1);
    cursor: pointer;
}